.sign-in {
    margin-left: 5px;
    margin-right: 5px;
}

.create-account {
    margin-right: 5px;
}


/*

Discussion Styles
*/
.margin-top-20px {
    margin-top: 20px;
}

.bordered {
    border: solid;
    border-width: 0.5px;
}