div.discussionBlock {
    display: flex;
    flex-flow: row wrap;
    /* height: 5em; */

    margin: 1em;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around
}

div.discussionBlock div {
    /* height: 4em; */
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
}

div.discussionBlock p {
    /* height: 1em; */
    padding: 0;
    margin: 0;
}
.arrows img {
    height: 1em;
    flex-grow: 1;
    margin: 0.1em;
}
.avatar img {
    height: 4em;

}


.arrows {
    background-color: rgba(0, 200, 200, .6);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1%
}
.avatar {
    background-color: rgba(200, 0, 200, .6)

}
.textContent {
    background-color: rgba(200, 200, 0, .6);
    padding: 2%;

}