.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #E85A4F;
  padding: 20px;
  color: white;
  width: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navWide {
  display: none;
  width: 100%;
}

.wideDiv a {
  min-width: 100%;
  display: inline;
  padding: 2%;
}


.narrowLinks {
  display: none;
}

.narrowLinks a {
  display: inline-block;
  clear: left;
  padding: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 480px) {

  .navWide {
    display: inline-block;
  }

  .navNarrow {
    display: none;
  }
}