.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #E85A4F;
  padding: 20px;
  color: white;
  width: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navWide {
  display: none;
  width: 100%;
}

.wideDiv a {
  min-width: 100%;
  display: inline;
  padding: 2%;
}


.narrowLinks {
  display: none;
}

.narrowLinks a {
  display: inline-block;
  clear: left;
  padding: 2%;
}

.discussionBlock {
  display: flex;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  margin: 2% 5% 2% 5%;
  padding-left: 2%;
  text-align: left;
  position: fixed;
}

.textContent {
  flex: 10;

}
.discussionBlock h3, .discussionBlock small {
  padding: 1% 5% 0 1%;
  text-align: left;
  margin: .5rem .5rem 0 .5rem;
  position: relative;
}

.discussionBlock p  {
  padding: 2% 5% 1% 1%;
  margin: .5rem;
  position: relative
}

.arrows {
  flex: 1;
  position: relative;
  max-width: 3%;
  float: left;
  padding-top: 2%;
}
.arrows img {
  max-height: 100%;
  max-width: 100%;
  padding: 15%
}

.arrows p {
  text-align: center;
  font-size: 75%;
  width: 100%;
  margin: auto;
  padding: 2%
}

.avatar {
  position: relative;
  flex: 1;
  float: left;
  padding: 2%;
  width: 10%;
  min-height: 100%;

}

.avatar img {
  max-height: 100%;
  max-width: 100%;
  /* border-radius: 100%; */
  border-style: solid;
  border-width: 1px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 480px) {

  .navWide {
    display: inline-block;
  }

  .navNarrow {
    display: none;
  }
}


@media (max-width: 965px) {
  .avatar{
    display: none;
  }
  .arrows {
    padding: 2% 0 2% 0;
    max-width: 100%
  }
  
.navbar {
  background-color: #E85A4F;
}

div > h2 {
  color: #eae7dc;
}

footer {
  background-color: #8e8d8a;

}